<div id="<%= dom_id user %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block text-sm font-medium text-gray-400 mb-1">Name:</strong>
    <span class="text-white"><%= user.name %></span>
  </div>
  <div>
    <strong class="block text-sm font-medium text-gray-400 mb-1">Email:</strong>
    <span class="text-white"><%= user.email %></span>
  </div>
  <div>
    <strong class="block text-sm font-medium text-gray-400 mb-1">Role:</strong>
    <span class="text-white"><%= user.role %></span>
  </div>
</div>
